@import 'mixins'

.logo > a
	font-size 2em
	color #FFF

.progress-item
	.rangeslider--horizontal
		height 10px
		background #FFF
		box-shadow none
		border 1px solid #c8c6c6 
		.rangeslider__fill
			top -1px
			height 10px
			left -1px
			background #FF1D1D
		.rangeslider__handle
			top -8px
			width 25px
			height 25px
			background #fff
			&:after
				width 8px
				height 8px
				background grey 
	.progress
		height 195px
		width 195px
		padding 4px
		border 3px solid #F57D61
		border-radius 50%
		> svg
			height 100%
			display block 
		.progressbar__label
			.icon
				font-size 4em
				line-height 1
			.text
				font-size 3em
				line-height 1
				font-weight bold
				sup
					font-size 50% 
	h3
		padding-bottom 5px
	&.lamp
		.progress
			border-color #F57D61
			.progressbar__label
				color #FA5833 !important
			> svg > path
				stroke #FA5833
		.rangeslider--horizontal .rangeslider__fill
			background #FF1D1D
	&.sound
		.progress
			border-color #F4BE53
			.progressbar__label
				color #F4A70C !important
			> svg > path
				stroke #F4A70C
		.rangeslider--horizontal .rangeslider__fill
			background #F6AF20
	&.humidity
		.progress
			border-color #4DB5E8
			.progressbar__label
				color #2EAAE8 !important
			> svg > path
				stroke #2EAAE8
	&.temp
		.progress
			border-color #E9E8A0
			.progressbar__label
				color #E7E572 !important
			> svg > path
				stroke #E7E572
	&.temp2
		.progress
			border-color #A0A6E9
			.progressbar__label
				color #7285E7 !important
			> svg > path
				stroke #7285E7
.device-item
	.panel
		height 150px
		width 195px
		position relative
		button
			outline 0 
			border 1px solid grey
			border-radius 3px
			bg-linear-gradient(#F9F9F9, #EFEFEF)
			height 100%
			width 100%
			&:active
				bg-linear-gradient(#efefef, #dfdfdf)
			i
				font-size 3em
				display block
				color #444
				line-height 1.2
			span
				font-size 1.2em
				color #777 
		.status
			position absolute
			right -16px
			top -16px
			width 50px
			height 35px
			line-height 35px
			text-align center 
			font-size 1.4em 
			border 1px solid #F66442
			border-radius 45%
			color #FFF
			bg-linear-gradient(#FC9882, #FA5C38)
			&.on
				border-color #42A3F6
				bg-linear-gradient(#82D5FC, #38B2FA)
			
.tv-items
	button
		margin .5em
		&.active, &.active:active, &.active:hover, &.active:focus
			border-color #EDAE47 
			bg-linear-gradient(#F9B939, #F4A507)